.top-card {
    background-color: white;
    border-radius: .4rem;
    padding: 1rem;
    transition: .3s ease-in-out;
  
    &:hover {
      transform: translateY(-4px);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px,
                  rgba(0, 0, 0, 0.4) 0px 10px 10px -5px;
    }
  
    width: 60%;
  }
  