@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');

* {
  font-family: 'Noto Sans Arabic', sans-serif;
  direction: rtl;
}

html {
  margin: 0;
  padding: 0;
  background-color: #F3F5F7;
}

.Container {
  margin-left: 33px;
  margin-right: 135px;
  margin-top: 75px;
  margin-bottom: 37px;
}

@media screen and (max-width: 425px) {
  .Container {
    margin: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .Container {
    margin: 0;
  }
}
